/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use "./_colors.scss";

.main {
  position: relative;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-block-start: 64px;
    &::before {
      content: "01";
      position: absolute;
      top: -56px;
      left: 50%;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: colors.$light;
      border: 1px solid rgba($color: colors.$grey, $alpha: 0.25);
      transform: translateX(-50%);
      text-align: center;
      line-height: 56px;
      font-size: 1rem;
      font-weight: 900;
      color: colors.$grey;
    }

    &::after {
      content: "";
      position: absolute;
      top: -140px;
      left: 50%;
      width: 1px;
      height: 84px;
      background-color: rgba($color: colors.$grey, $alpha: 0.25);
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 4.9542rem + -4.0712vi, 4rem);
    max-width: 1110px;
    margin-inline: auto;
    padding-inline: clamp(1.5rem, 0.5458rem + 4.0712vi, 2.5rem);

    @media screen and (min-width: 768px) {
      gap: clamp(3rem, 0.7143rem + 4.7619vi, 5rem);
    }

    @media screen and (min-width: 1110px) {
      padding-inline: clamp(0rem, 10.9091rem + -12.1212vi, 2.5rem);
    }

    &-img {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 1.5rem;

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(0.6875rem, -0.6696rem + 2.8274vi, 1.875rem);
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-block-start: 1.5rem;

      @media screen and (min-width: 768px) {
        gap: clamp(1.5rem, 1.3636rem + 0.4545vi, 2rem);
      }

      &-title {
        font-size: clamp(1.5rem, 1.1364rem + 1.1364vi, 2rem);
        line-height: 1.1;
        font-weight: 900;
        color: colors.$dark;
      }

      &-subtitle {
        font-size: clamp(1rem, 0.956rem + 0.1878vi, 1.125rem);
        line-height: 1.5;
        font-weight: 500;
        color: colors.$grey;
      }

      &-text {
        font-size: clamp(0.875rem, 0.6818rem + 0.4545vi, 1rem);
        line-height: 1.5;
        font-weight: 400;
        color: colors.$grey;
      }
    }
  }

  &__content {
    text-align: center;

    &-title {
      font-size: 1rem;
      line-height: 1.625;
      font-weight: 900;
      color: colors.$cyan;
      letter-spacing: 0.25rem;
      margin-block-end: 1.5rem;
    }

    &-subtitle {
      max-inline-size: 15ch;
      margin-inline: auto;
      font-size: clamp(2rem, 1.5229rem + 2.0356vi, 2.5rem);
      line-height: 1.1;
      font-weight: 900;
      margin-block-end: 2rem;
    }

    &-text {
      font-size: 1rem;
      line-height: 1.625;
      font-weight: 400;
      color: colors.$grey;

      @media screen and (min-width: 768px) {
        font-size: clamp(1rem, 0.8571rem + 0.2976vi, 1.125rem);
        max-inline-size: 53ch;
        margin-inline: auto;
      }

      @media screen and (min-width: 1024px) {
        max-inline-size: 44ch;
      }
    }
  }
}
